body { 
font-family: Arial;
background-color:rgba(230, 126, 34,0.4);


}

table {
	float:left;
   border-collapse: separate;
    border-spacing: 0 1em;
}

td {
border: 1px solid black; 
 text-align:center; 
 vertical-align:middle;
min-height:200px;
min-width:200px;


color:#f98005;
font-size:26px;
}

th { 
border: 1px solid black; 

text-align: center;
background-color:orange;

}

#sort{
float:left;
width:200px;
height:50px;
margin-right:20px;
background-color:rgba(200,200,200,0.6);
}
tr:nth-child(even){
background-color:rgba(150,150,150,0.5);
}
tr
{
margin:20px;
background-color:#ddd;
}
img
{
	width:200px;
	height:200px;
}
.avatar
{
	background-color:green;
}
.increment
{
	text-align:center;
	background-color: violet;
    position: fixed;
    bottom: 0;
	right:0;
	height:30px;
    width: 100%;
}
.limitation
{
position:fixed;

	text-align:center;
	background-color: #d35400;
    bottom: 0;
	right:0;
    width: 100%;
}

button {
    height:20px;
    line-height:20px;
    vertical-align:middle;
    text-align:center;
    color:#ffffff;
    background-color:#007bff;
    display:inline-block;
}

